body {
  margin: 0 auto;
  font-family: 'Open Sans',Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif
}

#main {
  width: 670px;
}

li{
  list-style: none;
  max-width: 55%;
}

h2 {
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr{
  border: 1px solid lightgrey;
}

select {
  font-size: 20px;
  padding-bottom: 10px;
  border: 0;
  background-color: #B80711;
  color: white;
}

option {
  font-size: 20px;
  padding-bottom: 10px;
  border: 0;
  background-color: #B80711;
  color: white;
}

/*LOGO STYLING*/
#nav {
  width: 230px;
  margin: 0;
  padding-right: 50px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1#logo-text {
  text-align: center;
  color: #B80711;
  padding-right: 30px;
  padding-left: 30px;
}

/*HEADER STYLING*/

header {
  display: flex;
  flex-direction: column;
}

#header-logo {
  background-color: black;
  display: flex;
  justify-content: center;
}

#header-text {
  padding-top: 15px;
}

#header-details {
  display: flex;
  flex-direction: row;
  background: #95a5a6;
  background: linear-gradient(to bottom, #95a5a6 49%,#ffffff 65%);
}

.header-text-details {
  color: #666666;
  text-align: left;
  margin: 0;
}

#profile-picture img {
  display: block;
  border-radius: 50%;
  margin: 10px 25px 10px 25px;
}

#username {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

#real-name {
  font-size: 12px;
  margin-bottom: 50px;
  color: #F9F9F9;
}

/*RECENT TRACKS STYLING*/

#recent-track-list{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  max-width: 660px;
  margin-top: 0px;
}

.recent-track-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recent-track-item img{
  padding-right: 8px;
}

.recent-track-item:nth-child(even){
  background-color: #F9F9F9;
  }​

  img#now-playing{
    margin-left: 25%;
  }

  #now-playing-text{
    color: #666666;
    font-size: 12px;
  }

  /*ARTIST BLOCK HEADER*/

  #artist-block-header {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #artist-block-header h2{
    margin-bottom: 0px;
    margin-left: 20px;
  }

  #duration-selector {
    float: right;
  }

  /*ARTIST BLOCK STYLING*/

  #artist-block{
    margin-left: 50px;
    margin-bottom: 20px;
  }

  #top-artist-text{
    position: absolute;
  }

  #top-artist-image{
    width: 310px;
    height: 310px;
  }

  .small-artist-text{
    position:absolute;
  }

  .small-artist-image {
    height: 155px;
    width: 155px;
  }

  img#top-artist-image {
    filter: brightness(75%);
  }

  img.small-artist-image{
    filter: brightness(65%);
  }

  #artist-block {
    display: flex;
  }

  #artist1 {
    width: 310px;
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #artist1 p {
    color: white;
    padding: 0;
    margin: 0;
  }

  #top-artist-square-name {
    font-size: 18px;
    font-weight: 700;
  }

  #top-artist-square-playcount{
    font-size: 12px;
  }

  #artist-squares {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 310px
  }

  .small-artist-square {
    width: 155px;
    height: 155px;
    padding: 0;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
  }

  .small-artist-square-name {
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0 0 10px rgba(0,0,0,.7);
  }

  .small-artist-square-playcount {
    font-size: 12px;
  }

  .small-artist-square p {
    padding: 0;
    margin: 0;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }

  #artist4{
    clear: left;
  }

  #top-artist-text {
    padding-left: 15px;
    padding-bottom: 15px;
  }

  p#artist2playcount {
    padding-bottom: 15px;
  }

  p#artist3name{
    max-width: 100%;
  }

  p#artist3playcount {
    padding-bottom: 15px;
  }

  p#artist4playcount {
    padding-bottom: 15px;
  }

  p#artist5playcount {
    padding-bottom: 15px;
  }

  /*ALBUM BLOCK HEADER*/

  #album-block-header {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #album-block-header h2{
    margin-bottom: 0px;
    margin-left: 20px;
  }

  #album-duration-selector {
    float: right;
  }

  /*ALBUM BLOCK STYLING*/

  #album-block{
    margin-left: 50px;
    margin-bottom: 20px;
  }

  #top-album-text{
    position: absolute;
  }

  #top-album-image{
    width: 310px;
    height: 310px;
  }

  .small-album-text{
    position:absolute;
  }

  .small-album-image {
    height: 155px;
    width: 155px;
  }

  img#top-album-image {
    filter: brightness(75%);
  }

  img.small-album-image{
    filter: brightness(65%);
  }

  #album-block {
    display: flex;
  }

  #album1 {
    width: 310px;
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #album1 p {
    color: white;
    padding: 0;
    margin: 0;
  }

  #top-album-square-name {
    font-size: 18px;
    font-weight: 700;
  }

  #top-album-square-playcount{
    font-size: 12px;
  }

  #album-squares {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 310px
  }

  .small-album-square {
    width: 155px;
    height: 155px;
    padding: 0;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
  }

  .small-album-square-name {
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0 0 10px rgba(0,0,0,.7);
  }

  .small-album-square-playcount {
    font-size: 12px;
  }

  .small-album-square p {
    padding: 0;
    margin: 0;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }

  #album4{
    clear: left;
  }

  #top-album-text {
    padding-left: 15px;
    padding-bottom: 15px;
  }

  p#album2playcount {
    padding-bottom: 15px;
  }

  p#album3name{
    max-width: 100%;
  }

  p#albumt3playcount {
    padding-bottom: 15px;
  }

  p#album4playcount {
    padding-bottom: 15px;
  }

  p#album5playcount {
    padding-bottom: 15px;
  }

  /*TOP TRACKS STYLING*/

  #top-tracks-list{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    max-width: 660px;
    margin-top: 0px;
  }

  .top-track-item{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .top-track-item img{
    padding-right: 8px;
  }

  .top-track-item:nth-child(even){
    background-color: #F9F9F9;
    }​

    li#tt-playcount{
      left: 500px;
    }

    #ttduration-selector {
      float: right;
    }

    #tt-header {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    #tt-header h2{
      margin-left: 20px;
      margin-bottom: 0px;
    }
