body {
  margin: 0 auto;
  font-family: 'Open Sans',Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif
}

img {
  filter: brightness(50%);
}

#top-artist-text{
  position: absolute;
}

/*HEADER STYLING*/

header {
  display: flex;
  flex-direction: column;
  /*font-family: 'Open Sans', sans-serif;*/
}

#header-logo {
  background-color: black;
}

#header-text {
  /*color: #666666;*/
  color: #B80711;
  text-align: center;
}

#header-details {
  display: flex;
  flex-direction: row;
}

.header-text-details {
  color: #666666;
  text-align: center;
}

img#profile-picture {
  width: auto;
  max-height: 250px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 25%/50%;
}

/*ARTIST BLOCK STYLING*/

#artist-block {
  display: flex;
}

#artist1 {
  width: 310px;
  height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#artist1 p {
  color: white;
  padding: 0;
  margin: 0;
}

#top-artist-square-name {
  font-size: 18px;
}

#artist-squares {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 310px
}

#top-artist-square-playcount{
  font-size: 12px;
}

.small-artist-square {
  width: 155px;
  height: 155px;
  padding: 0;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 15px;
}

.small-artist-square-name {
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(0,0,0,.7);
}
.small-artist-square-playcount {
  font-size: 12px;
}

.small-artist-square p {
  padding: 0;
  margin: 0;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#artist4{
  clear: left;
}

p#artist2playcount {
    padding-bottom: 15px;
}

p#artist3playcount {
    padding-bottom: 15px;
}

p#artist4playcount {
    padding-bottom: 15px;
}

p#artist5playcount {
    padding-bottom: 15px;
}
